<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--加载数据库的属性文件-->
    <context:property-placeholder location="classpath:properties/RabbitMQ.properties"  ignore-unresolvable="true"  />

    <!-- 定义RabbitMQ的连接工厂 -->
    <rabbit:connection-factory
            id="connectionFactory"
            host="${RabbitMQ.host}"
            port="${RabbitMQ.port}"
            username="${RabbitMQ.username}"
            password="${RabbitMQ.password}"
            virtual-host="${RabbitMQ.vhost}"/>

    <!--自动生成交换机-->
    <rabbit:admin connection-factory="connectionFactory"/>

    <!--定义交换机-->
    <rabbit:topic-exchange name="REPLY_EXCHANGE" auto-declare="true" durable="true"/>

    <!--指定交换机模板-->
    <rabbit:template id="rabbit" connection-factory="connectionFactory" exchange="REPLY_EXCHANGE"/>
</beans>